body {
	background: url(../images/background.jpg);
	background-position: 0px;
	background-size: 100%;
}

.container {
	width: 80%;
	position: relative;
	top: 10px;
	left: 10%;
	padding-bottom: 90px;
}

.individual-gifs {
	float: left;
	margin: 10px;
}

.intro {
	display: block;
	background-color: #271416;
	color: white;
	font-family: sans-serif;
	font-weight: 300;
	font-size: 50px;
	letter-spacing: 1.5px;
	text-align: center;
	width: 100%;
	position: relative;
	top: 0px;
	padding: 30px;
}

.input-label {
	font-size: 20px;
	color: white;
}

.character-btn {
	background-color: #D65947;
	border-radius: 5px;
	border: none;
	padding: 10px 15px 10px 15px;
	margin: 5px;
	color: white;
}

.character-btn:hover {
	background-color: #7B2F2C;
}

.rating-text {
	font-size: 20px;
	color:#f7ff00 ;
	font-weight: bold;
}

#gif-buttons {
	width: 100%;
	font-family: sans-serif;
	font-weight: 100;
	font-size: 15px;
	letter-spacing: 2px;
}

#add-gifs {
	background-color: #37B7BF;
	border: none;
	color: white;
	margin-top: 14px;
	padding: 10px;
	font-size: 18px;
	font-family: 'Oxygen', sans-serif;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 1.5px;
}

#add-gifs:hover {
	background-color: #375D75;
}


.rating {
	font-family: sans-serif;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 1px;
}
